.git
.github
.gitignore
.gitattributes

node_modules
vendor

tests
phpunit.xml
.phpunit.cache
.phpunit.result.cache

storage/app/public/*
storage/framework/cache/data/*
storage/framework/sessions/*
storage/framework/views/*
storage/logs/*

public/build
public/hot
public/storage

.env
.env.*
!.env.example

.idea
.vscode
.fleet
.nova
.zed

*.md
Dockerfile
.dockerignore
docker-compose*.yml
deploy
